// body, html {
//   background: linear-gradient(145deg, #0f0f0f, #af6464);
//   color: white;
//   font-family: "Segoe UI", sans-serif;
//   height: auto;
// }

.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.navigationBar {
  height: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}

.appWrapper {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.cinemaWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  display: block;

  animation: contentVisibility 4s ease-in-out forwards;
}

.boxWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  border-radius: 25px;
}

.cap {
  width: 300px;
  height: 30px;
  background-color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  border: 1px solid #fff;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transform-origin: left bottom;
  transform: rotateZ(0deg);
  animation: rotateCap 2s ease-out forwards;

  .blackNWhite {
    transform: matrix(1, 0, -1, 1, 0, 0) translate(3px);
  }
}

.blackNWhite:nth-child(2n) {
  width: calc(100% / 6);
  height: 100%;
  background-color: #000;
}

.blackNWhite:nth-child(2n-1) {
  width: calc(100% / 6);
  height: 100%;
  background-color: #fff;
}

.capBot {
  width: 300px;
  height: 30px;
  background-color: #fff;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;

  .blackNWhite {
    transform: matrix(1, 0, -1, 1, 0, 0) translate(-28px);
  }
}

.box {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  align-items: center;
  transform-origin: left top;
  transform: rotateZ(0deg);
  animation: rotateBox 2s ease-out forwards;
}

.container {
  animation: rotateMove 2s ease-out forwards;
  cursor: pointer;
  position: absolute;
  z-index: 101;
}

.insideBox {
  width: auto;
  height: 50px;
  position: absolute;
  animation: rotateInsideBox 3.4s ease-in-out forwards;
  transform-origin: left top; 
}

.circle {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  border: 8px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #000;
  transform: rotate(0deg);
  animation: rotateReverse 10s linear infinite;
}

.rotatingCircle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 25px dotted #000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateCap {
  0% {
    transform: rotateZ(0deg);
  }
  95% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateBox {
  0% {
    transform: rotateZ(0deg);
  }
  95% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateInsideBox {
  0% {
    transform: translate(80px, 190px) rotateZ(-55deg);
    opacity: 0;
  }
  60% {
    transform: translate(400px, -250px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(400px, -250px);
  }
}

@keyframes contentVisibility {
  0%,
  85% {
    opacity: 0;
  }

  100% {
    display: block;
    z-index: 100;
    opacity: 1;
  }
}


@keyframes rotateMove {
  0%,
  85% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-600px, -420px) scale(0.2);
  }
}

@media screen and ( width < 768px) {
  .navSearch{
    flex-direction: column;
    // row-gap: 20px;
    align-items: center;
    justify-content: center;
    // margin-top: 20px;
  }

  .contentWrapper {
    animation-duration: 2.5s;
  }

  .cap,
  .box{
    animation-duration: 1.8;
  }
  @keyframes rotateMove {
    0%,
    85% {
      transform: translate(0, 0);
    }

    100% {
      display: none;
    }
  }

  @keyframes rotateInsideBox {
    0%,
    100% {
      display: none;
    }
  }
}

@media screen and (768px <= width < 1440px) {
  @keyframes rotateMove {
    0%,
    85% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-300px, -380px) scale(0.2);
    }
  }

  @keyframes rotateInsideBox {
    0% {
      transform: translate(80px, 190px) rotateZ(-55deg);
      opacity: 0;
    }
    60% {
      transform: translate(200px, -250px);
    }
    80% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translate(200px, -250px);
    }
  }
}

@media screen and (width >= 2560px) {
  @keyframes rotateMove {
    0%,
    85% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-500px, -910px) scale(0.2);
    }
  }
}
