@use "../../../styles/shared.scss";


.genreList{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;

    li{
        width: 300px;
        border: 1px solid shared.$border-color;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
}